<h2 mat-dialog-title *ngIf="origem && item && listaEntidadeMetodo">Passo {{item.ordenacao}} em {{origem.nomeClasseMain}}</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="200" #nomeClasse [(ngModel)]="item.nomeClasse" name="nomeClasse" placeholder="Nome da Classe" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-full-width" *ngIf="listaEntidadeMetodo">
      <mat-select placeholder="Operação Entidade"  #metodoServerId [(ngModel)]="item.metodoServerId" name="metodoServerId" (selectionChange)="atualizarNomeClasse(metodoServerId)">
        <mat-option *ngFor="let metodo of listaEntidadeMetodo" [value]="metodo.id">
          {{ metodo.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
 
    <mat-form-field class="example-half-width">
      <mat-select placeholder="Dentro de loop" #dentroLoop [(ngModel)]="item.dentroLoop" name="dentroLoop">
        <mat-option value="1">Sim</mat-option>
        <mat-option value="0">Não</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <mat-select placeholder="Finalização" #finalizacao [(ngModel)]="item.finalizacao" name="finalizacao">
        <mat-option value="1">Sim</mat-option>
        <mat-option value="0">Não</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>
