<div class="dgc-painel" *ngIf="principal">
  <div class="dgc-painel-header" *ngIf="principal">
      <span>Processo: {{principal.nomeClasseMain}}</span>
  </div>
  <div *ngIf="principal">
    <span>Projeto Eclipse: {{principal.projeto}}</span>
  </div>  
  <div *ngIf="principal.linuxInternet">
    <span>Servidor: {{principal.linuxInternet.nome}}</span>
  </div>
  <div *ngIf="principal">
    <span>Cron: {{principal.crontab}}</span>
  </div>
  <div *ngIf="principal">
    <span>Jar: {{principal.jar}}</span>
  </div>

  <div class="dgc-painel-principal">

    <div class="dgc-card dgc-card-half">
      <div class="dgc-card-header">
        <span>Saídas</span>
      </div>
      <div class="dgc-card-detalhe" *ngFor="let rel of principal.processoEntidadeSaida">
        <span class="dgc-link" routerLink="/entidadeDetalhe/{{rel.entidade.id}}">{{rel.entidade.nome}}</span>
      </div>
      <div class="dgc-card-comandos">
        <button class="btn-primary btn-sm btn" (click)="editaEntidadeSaida(principal)">Novo</button>
      </div> 
    </div>
  
    <div class="dgc-card dgc-card-half">
      <div class="dgc-card-header">
        <span>Entradas</span>
      </div>
      <div class="dgc-card-detalhe" *ngFor="let rel of principal.processoEntidadeEntrada">
        <span class="dgc-link" routerLink="/entidadeDetalhe/{{rel.entidade.id}}">{{rel.entidade.nome}}</span>
      </div>
      <div class="dgc-card-comandos">
        <button class="btn-primary btn-sm btn" (click)="editaEntidadeEntrada(principal)">Novo</button>
      </div> 
    </div>
  
    <div class="dgc-card  dgc-card-full">
      <div class="dgc-card-header">
        <span>Dataset</span>
      </div>
      <div class="dgc-card-detalhe" *ngFor="let dado of principal.dadoProcessos">
        <span>{{dado.nome}}</span>
        <span *ngIf="dado.tipoEntidade" class="dgc-link" routerLink="/entidadeDetalhe/{{dado.tipoEntidade.id}}">: <span *ngIf="dado.tipoEntidadeLista==1">*</span>{{dado.tipoEntidade.nome}}</span>
        <span *ngIf="dado.tipoSimples"> : {{dado.tipoSimples}}</span>
        <div class="dgc-direita">
          <button class="btn-primary btn-sm btn" (click)="editaDadoProcesso(principal,dado)">Altera</button>
        </div>
      </div>
      <div class="dgc-card-comandos">
        <button class="btn-primary btn-sm btn" (click)="editaDadoProcesso(principal)">Novo</button>
      </div> 
    </div>
  
  </div>


  <div class="dgc-card">
    <div class="dgc-card-header">
      <span>Passos</span>
    </div>
    <div *ngFor="let item of principal.passoProcessoJavas">
      <div class="dgc-card-header" >
        <span *ngIf="item.dentroLoop==1">*</span>
        <span *ngIf="(item.metodoServer!=null)">
          <span class="dgc-link" routerLink="/entidadeDetalhe/{{item.metodoServer.entidadeId}}" title="{{item.metodoServer.descricao}}" >
            {{item.ordenacao}}<span *ngIf="item.finalizacao==1">F</span>. {{item.nomeClasse}}  
          </span>
        </span>
        <span *ngIf="(item.metodoServer==null)">
          <span >{{item.ordenacao}}<span *ngIf="item.finalizacao==1">F</span>. {{item.nomeClasse}}  </span>
        </span>
        <span *ngIf="item.dentroLoop==1"> (loop)</span>
        <div class="dgc-direita">
          <button class="btn-primary btn-sm btn" (click)="subirItem(item)">Subir</button>
          <button class="btn-primary btn-sm btn" (click)="novaEntrada(item)">Entrada</button>
          <button class="btn-primary btn-sm btn" (click)="novaSaida(item)">Saída</button>
          <button class="btn-primary btn-sm btn" (click)="editaPasso(item)">Altera</button>
        </div>
      </div>
      <div class="dgc-card-detalhe" *ngFor="let dado of item.dadoPassoEntrada">
        <span>(in) {{dado.dadoProcesso.nome}}</span>
        <span *ngIf="dado.dadoProcesso.tipoEntidade"> : <span *ngIf="dado.dadoProcesso.tipoEntidadeLista==1">*</span>
          <span class="dgc-link" routerLink="/entidadeDetalhe/{{dado.dadoProcesso.tipoEntidade.id}}">{{dado.dadoProcesso.tipoEntidade.nome}}</span>
        </span>
        <span *ngIf="dado.dadoProcesso.tipoSimples"> : {{dado.dadoProcesso.tipoSimples}}</span>
      </div>
      <div class="dgc-card-detalhe" *ngFor="let dado of item.dadoPassoSaida">
        <span>(out) {{dado.dadoProcesso.nome}}</span>
        <span *ngIf="dado.dadoProcesso.tipoEntidade"> : <span *ngIf="dado.dadoProcesso.tipoEntidadeLista==1">*</span>
        <span class="dgc-link" routerLink="/entidadeDetalhe/{{dado.dadoProcesso.tipoEntidade.id}}">{{dado.dadoProcesso.tipoEntidade.nome}}</span>
        </span>
        <span *ngIf="dado.dadoProcesso.tipoSimples"> : {{dado.dadoProcesso.tipoSimples}}</span>
      </div>
    </div>
    

    <div class="dgc-card-comandos">
      <button class="btn-primary btn-sm btn" (click)="editaPasso()">Novo</button>
    </div> 
  </div>







</div>
