<h2 mat-dialog-title *ngIf="origem">Método Server - {{origem.nome}}</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput maxlength="50" #nome [(ngModel)]="item.nome" name="nome" placeholder="Nome" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Tipo" #tipoMetodo [(ngModel)]="item.tipoMetodo" name="tipoMetodo">
        <mat-option value="GET">GET</mat-option>
        <mat-option value="POST">POST</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Tipo Resposta" #tipoResposta [(ngModel)]="item.tipoResposta" name="tipoResposta">
        <mat-option value="Void">Void</mat-option>
        <mat-option value="Object">Object</mat-option>
        <mat-option value="List">List</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>